# MySQL学习笔记
- 关系型数据库

## 如何使用终端操作数据库
- 输入mysql -uroot -phfk7613373
- 如何查询数据库服务器中所有的数据库：show databases;
- 如何选中某一个数据库进行操作
    - use xxx
    - show tables;
    - select * from xxx;
    - select * from xxx where ID=1;
    - exit;

## 如何在数据库服务器中创建我们的数据库
- 创建
    - create database test;
    - mysql> CREATE TABLE pet(
    -> name VARCHAR(20),
    -> owner VARCHAR(20),
    -> species VARCHAR(20),
    -> sex CHAR(1),
    -> birth DATE,
    -> death DATE);
Query OK, 0 rows affected (0.07 sec)
    - 查看数据表是否创建成功
mysql> show tables;
+----------------+
| Tables_in_test |
+----------------+
| pet            |
+----------------+
1 row in set (0.01 sec)

mysql>


- 查看创建好的数据表的结构
    - describe pet
mysql> describe pet;
+---------+-------------+------+-----+---------+-------+
| Field   | Type        | Null | Key | Default | Extra |
+---------+-------------+------+-----+---------+-------+
| name    | varchar(20) | YES  |     | NULL    |       |
| owner   | varchar(20) | YES  |     | NULL    |       |
| species | varchar(20) | YES  |     | NULL    |       |
| sex     | char(1)     | YES  |     | NULL    |       |
| birth   | date        | YES  |     | NULL    |       |
| death   | date        | YES  |     | NULL    |       |
+---------+-------------+------+-----+---------+-------+
6 rows in set (0.01 sec)

- 往数据表中添加数据记录
    - INCERT INTO pet
mysql> INSERT INTO pet
    -> VALUES('Puffball','Diane','hamster','f','1993-03-30',NULL);
Query OK, 1 row affected (0.01 sec)
- 再一次查询
mysql> select * from pet;
+----------+-------+---------+------+------------+-------+
| name     | owner | species | sex  | birth      | death |
+----------+-------+---------+------+------------+-------+
| Puffball | Diane | hamster | f    | 1993-03-30 | NULL  |
+----------+-------+---------+------+------------+-------+
1 row in set (0.00 sec)
- 嵌入
mysql> INSERT INTO pet
    -> VALUES('旺财','周星驰','狗','公','1990-01-01',NULL);
Query OK, 1 row affected (0.02 sec)
mysql> select * from pet;
+----------+--------+---------+------+------------+-------+
| name     | owner  | species | sex  | birth      | death |
+----------+--------+---------+------+------------+-------+
| Puffball | Diane  | hamster | f    | 1993-03-30 | NULL  |
| 旺财     | 周星驰  | 狗      | 公   | 1990-01-01 | NULL  |
+----------+--------+---------+------+------------+-------+
2 rows in set (0.00 sec)
- MySQL常用数据类型
    - 数值
    - 日期和时间
    - 字符串
    
- 数据来我i行如何选择
    - 日期：按照格式
    - 数值和字符串：按照大小